@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*font-family: "Work Sans", sans-serif;*/
*{
    margin: 0;
    padding: 0;
}

.btn-container{
    text-align: center;
}

.btn{
    padding: 21px 32px 21px 32px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    cursor: pointer;
}

/*hero-start*/
#hero{
    height: 919px;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%,
    rgba(16, 16, 16, 0) 100%), url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content{
    width: 1029px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
}

#hero .hero-content .subtitle{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 26px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
}

#hero .hero-content .title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
}

#hero .hero-content .description{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
/*hero-end*/

/*carbox-start*/
#card-box{
    width: 1380px;
    margin: 0 auto;
    padding: 140px 0 140px 0;
}

#card-box .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
    border: 2px dotted rgba(0, 0, 0, 0.288);
    border-radius: 6px;
}

#card-box .info{
    padding: 20px 0 0px 0;
}

#card-box .title{
    width: 691px;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}

#card-box .subtitle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}

#card-box .card-container{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}

#card-box .card-container .card{
    display: flex;
    flex-direction: column;
    width: 424px;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
}

#card-box .card-container .card .shop{
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    width: 187px;
    padding: 14px 32px 14px 32px;
    text-align: center;
    margin-top: 8px;
}

#card-box .card-container .card .shop .shop-name{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    }

.card .card-title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
}

.card .card-description{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}

#card-box .btn-container-2{
    padding-bottom: 20px;
}
/*carbox-end*/

/*about-us-start*/
#about-us{
    display: flex;
    flex-direction: row;
    padding: 0 0 140px 0;
}

#about-us .about-img{
    height: 671px;
    width: 960px;
    background-image:url(../assets/foods.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-us .about-content{
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
}
#about-us .about-content .about-title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    width: 805px;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}
#about-us .about-content .about-description{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;
}

#about-us .about-content .follow{
    color: rgb(16, 16, 16);
    width: 100%;
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    padding: 30px 0 30px 0;
    border: solid rgba(16, 16, 16, 0.2);
    border-width: 1px 0 1px 0;
}


#about-us .social-icon{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}
/*about-us-start*/

/*footer-start*/
#footer{
    height: 671px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
    background-image:linear-gradient(180deg, rgba(255, 255, 255, 0.849) 100%,
    rgba(255, 255, 255, 0.849) 100%), url(../assets/social-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer .footer-title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    width: 805px;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}

#footer .footer-description{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;
}

#footer .footer-follow{
    color: rgb(16, 16, 16);
    width: 1380px;
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    padding: 30px 0 30px 0;
    border: solid rgba(16, 16, 16, 0.2);
    border-width: 1px 0 1px 0;
}

#footer .footer-social-icon{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}
